header {
    background-color: #f2f2f2;
    padding: 20px;
   
  }
  
  nav{
      margin: -3rem 0px 0px 80rem;
    
    a {
      display: inline;
      margin: 0 10px;
      text-decoration: none;
      color: #000;
      
    }
    
  }

 