<app-header></app-header>
<a href="#about"></a>
<div class="container  mt-3">
  <div class="row justify-content-center">
    <div class="col-2 border border-dark border-1 m-4">
      Ranking- Most Visited
      <div class="position-relative">
        <div class="p-5 custom-bg mt-1">
          <a href="https://parisjetaime.com/spa/billets?gclid=Cj0KCQjw3JanBhCPARIsAJpXTx6_3AEBWzTwdsDYrb5vLPCtqNeB7067eEi9HCsyKHsOe0w_L-PjSIAaAt7-EALw_wcB" target="_blank"> <img src="/assets/img/París.jpg"
              alt="París"></a>
          <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
            París
          </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
          <a href="https://www.visitlondon.com/" target="_blank"> <img src="/assets/img/Londres.jpg"
              alt="London"></a>
          <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
            London
          </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
          <a href="https://www.nyc.com/?gclid=Cj0KCQjw3JanBhCPARIsAJpXTx5OeydgCDis8g4WrhyLO43KJ2aVLa3ylSmS_52rvNQ_Ni-D02UONIcaAliYEALw_wcB" target="_blank"> <img
              src="/assets/img/NewY.jpg" alt="New York"></a>
          <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
            New York
          </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
          <a href="https://www.visitlasvegas.com/" target="_blank"> <img src="/assets/img/LasVegas.jpg" alt="Las Vegas"></a>
          <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
            Las Vegas
          </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
          <a href="https://visitmiami.com/" target="_blank"><img src="/assets/img/Miami.jpg" alt="Miami"></a>
          <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
            Miami
          </p>
        </div>
      </div>
      <div class="position-relative">
        <div class="p-5 custom-bg mt-3">
          <a href="https://visitarroma.es/que-ver-en-roma.html?gad=1&gclid=Cj0KCQjw3JanBhCPARIsAJpXTx6pDWR5rV31McP6GRD5Di4_iHqvg14-9P7DWSvAhpKPeqJGvfBVWx4aAiTTEALw_wcB" target="_blank"> <img
              src="/assets/img/Rome.jpg" alt="Rome"></a>
          <p class="d-flex justify-content-end align-items-end position-absolute bottom-0 end-0">
           Rome
          </p>
        </div>
      </div>
    </div>
    <div class="col-8 d-flex flex-wrap">
      <div class="col-3 border border-dark border-1 m-4">
        <div class="p-5 custom-bg">
          <a href="https://goturkiye.com/" target="_blank"> <img src="/assets/img/Turquia.jpg" alt="Turkey"></a>
        <p>
          Türkiye is a country that stretches from Eastern Europe to Western Asia,
          with cultural connections to the ancient Greek, Persian, Roman, Byzantine and Ottoman empires.
        </p>       
      </div>
      <button></button>
        <div class="d-flex justify-content-end">
          <div class="rectangle align-self-end"></div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <div class="p-5 custom-bg">
        <a href="https://www.gotokyo.org/en/index.html" target="_blank"><img src="/assets/img/Tokyo.jpg" alt="Tokyo"></a>
        <p>
          Tokyo, Japan's bustling capital, mixes the ultra-modern and the traditional, from neon-lit skyscrapers to historic temples. 
          The opulent Shinto Meiji Shrine is known for its towering gate.
        </p>       
      </div>
      <button></button>
        <div class="d-flex justify-content-end">
          <div class="rectangle align-self-end"></div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <div class="p-5 custom-bg">
         <a href="https://www.visitbrasil.com/es/" target="_blank"><img src="/assets/img/Brasil.jpg" alt="Brasil"></a>
          <p>
            
Brazil is a vast country in South America stretching from the Amazon Basin in the north to vineyards and the massive Iguazu Falls in the south.
          </p>       
        </div>
        <button></button>
        <div class="d-flex justify-content-end">
          <div class="rectangle align-self-end"></div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <div class="p-5 custom-bg">
          <a href="https://www.civitatis.com/es/el-cairo/" target="_blank"><img src="/assets/img/Cairo.jpg" alt="Cairo"></a>
          <p>
            Cairo, the sprawling capital of Egypt, sits on the Nile River. At its center is 
            Tahrir Square and the vast Egyptian Museum, a treasure trove of antiquities including royal 
            mummies and gold-plated artifacts from Pharaoh Tutankhamen.
          </p>       
        </div>
        <button></button>
        <div class="d-flex justify-content-end">
          <div class="rectangle align-self-end"></div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <div class="p-5 custom-bg">
          <a href="https://visitmexico.com/" target="_blank"><img src="/assets/img/Mexico.jpg" alt="Mexico"></a>
          <p>
            Mexico is a country between the United States and Central America, 
            known for its beaches on the Pacific and the Gulf of Mexico, and its diverse landscape of mountains, 
            deserts, and jungles.
          </p>       
        </div>
        <button></button>
        <div class="d-flex justify-content-end">
          <div class="rectangle align-self-end"></div>
        </div>
      </div>
      <div class="col-3 border border-dark border-1 m-4">
        <div class="p-5 custom-bg">
         <a href="https://washington.org/?psafe_param=1&gad=1&gclid=Cj0KCQjw3JanBhCPARIsAJpXTx5gm2jYkgo8Ndwi8SfmetC2V7gWZHRBcVusj-mLDsyjAchs9ADBrmoaAiDNEALw_wcB" target="_blank"><img src="/assets/img/Washington.jpg" alt="WhashintonDC"></a>
          <p>
            Washington D.C., the capital of the United States, 
            is a compact city along the Potomac River, which borders the states of 
            Maryland and Virginia.It is characterized by its imposing monuments and neoclassical buildings.
          </p>       
        </div>
        <button></button>
        <div class="d-flex justify-content-end">
          <div class="rectangle align-self-end"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
